body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    color: #663399;
    text-align: center;
    width: 100%;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    width: 80%;
}

form input {
    width: 400px;
    margin-right: 0.5em;
    padding: 0.5em;
}

form button {
    width: 200px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}