body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#converter {
    margin-top: 50px;
}

#converter input, #converter select {
    margin: 10px;
    padding: 10px;
}

#converter input[readonly] {
    background-color: #eee;
}

