body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #686868;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    background-color: #343434;
    padding: 50px;
    border-radius: 15px;
    min-height: 253px;
    box-shadow: 0 0 13px rgba(233, 233, 233, 0.9);
}

.poll {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.poll button {
    margin: 0 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bar {
    height: 20px;
    margin: 5px 0;
    background-color: #c70831;
    color: #fff;
    text-align-last: center;
    border-radius: 10px;
    transition: width 0.4s ease;
}