body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 1000px;
    height: 40vh;
    background-color: ghostwhite;
    border: 2px lightgray solid;
    border-radius: 23px;
    box-shadow: 0 0 20px 10px rgba(235, 235, 255, 0.6);
}

button  {
    margin: 40px;
    padding: 10px 20px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 34px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
}

#joke-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;padding: 20px;
}
