body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #343434;
    padding: 33px;
    border-radius: 15px;
    min-height: 253px;
    box-shadow: 0 0 13px rgba(233, 233, 233, 0.9);
}

.poll {
    color: white;
    margin-top: 20px;
}

.poll button {
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.results {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.results p {
    margin: 10px;
}