body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    left: 0;
    color: white;
    text-align: center;
    z-index: 999;
}

.container {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    gap: 2em;
    margin: 5em;
}

form {
    display: grid;
    gap: 1em;
}

input[type='text'], textarea {
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type='submit'] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    padding: 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #fff;
}

.recipe-card p {
    white-space: pre-wrap;
}