body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
}

.container{
    padding: 35px;
    border: 20px darkslategrey solid;
    border-radius: 15px;
    box-shadow: 10px 20px 5px rgba(0,0,0,0.3);
}

h1 {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form > .submit {
    align-self: center;
}

input {
    margin-top: -9px;
    border: 2px black solid;
    border-radius: 15px;
    color: darkslategrey;
}

.submit {
    margin-top: 5px;
    width: 50%;
}

.submit:hover {
    background-color: darkslategrey;
    color: white;
}
