body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

#trivia-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}