body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 50px rgba(240, 128, 128, 0.9);
    background-color: ghostwhite;
    padding: 10px;
    width: 40%;
    height: 50%;
    gap: 70px;
    border-radius: 24px;
}

h2 {
    font-size: 54px;
    font-weight: bold;
    color: lightcoral;
}

form {
    margin-bottom: 2em;
    font-size: 26px;
}

input {
    margin-left: 2em;
    font-size: 16px;
    border-radius: 6px;
}

/*button {*/
/*    margin-left: 1em;*/
/*    font-size: 16px;*/
/*    background-color: blue;*/
/*    color: white;*/
/*    border-radius: 6px;*/
/*}*/

.btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    margin-left: 30px;
    width: 90px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
}

.btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
}

.btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
}

p {
    background-color: lightcoral;
    color: white;
    font-size: 36px;
    border: 2px black solid;
    border-radius: 12px;
    padding: 10px;
}



