.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
    opacity: 0;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-nav {
    margin-top: 10px;
    text-align: center;
}

.carousel-prev, .carousel-next {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-prev {
    margin-right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: #555;
}





