body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jumbotron {
    background-color: cadetblue;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
}

.container {
    max-width: 500px;
}

.form-control {
    margin-bottom: 15px;
}

.btn-block {
    margin-top: 15px;
}