body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4a0a0;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 0  20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 80%;
    max-width: 500px;
}

#result {
    font-size: 1em;
    font-weight: bold;
    color: #e36f6f;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #b4a0a0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e58989;
}

input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
}