body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
}

#job-list {
    display: flex;
    flex-wrap: wrap;
}

.job    {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
}

.job h2 {
    margin: 0;
}

.job a {
    color: blue;
    text-decoration: none;
}