body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

button{
    height: 50px;
    font-size: 1.5em;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
}

[data-operator] {
    background-color: #ffa500;
}

[data-equal] {
    background-color: #ff6347;
    grid-column: span 2;
}

[data-clear], [data-sign], [data-percent] {
    background-color: #a9a9a9;
}


#equals {
    background-color: #ff6347;
}

cle