body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    padding: 10px;
    border-radius: 5px;
}

.movie-selection {
    display: flex;
    justify-content: space-between;
    width: 60vmin;
    margin-bottom: 20px;
}

.screen {
    width: 60vmin;
    height: 10vmin;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #000;
    color: #fff;
}
