body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.container {
    width: 400px;
    padding: 16px;
    background-color: #f1f1f1;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
    color: blue;
    text-align: center;
}

label {
    width: 100%;
    display: block;
    margin-bottom: 3px;
}

input[type='number'], select {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

input {
    margin-bottom: 15px;
    border-radius: 2px;
}

#output {
    margin-top: 16px;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
}