body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

button  {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

#joke-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;padding: 20px;
}
