body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background-color: #333344;
}

.container {
    min-height: 300px;
    border: 2px black solid;
    border-radius: 20px;
    padding: 0 20px;
    background-color: whitesmoke;
}

.form-container {
    margin-top: 50px;
}

input {
    margin-right: 18px;
}

.madlib-story {
    display: none;
    margin-top: 50px;
}

button {
    margin-top: 20px;
    background-color: #333344;
    color: white;
}