body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px, solid #a9a9a9;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

#display {
    width: 1000%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
}

button {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
}

#equals {
    background-color: #ff6347;
}

#clear {
    background-color: #a9a9a9;
}

