body {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    align-items: center;
    background-color: red;
}

h2 {
    display: flex;
    align-self: start;
    border: 2px white solid;
    border-radius: 25px;
    background-color: red;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 20px 5px rgba(40, 40, 40, 0.3);
}

input {
    margin-bottom: 10px;
    width: 250px;
    font-size: 20px;
    border: 3px white solid;
    border-radius: 25px;
    background-color: ghostwhite;
    box-shadow: 0 0 20px 5px rgba(40, 40, 40, 0.3);
}

#add-button {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 25px;
    background-color: red;
    color: white;
    box-shadow: 0 0 20px 5px rgba(40, 40, 40, 0.3);
}

#add-button:hover {
    background-color: white;
    color: red;
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(40, 40, 40, 0.3);
}

button  {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 25px;
    background-color: red;
    color: white;
}

button:hover {
    border: 2px red solid;
    background-color: white;
    color: red;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 2px white solid;
    border-radius: 90px 90px 90px 90px;
    width: fit-content;
    min-width: 400px;
    min-height: 600px;
    padding: 20px 0;
    box-shadow: 0 0 20px 5px rgba(40, 40, 40, 0.3);
    background-color: ghostwhite;
}



.bought {
    text-decoration: line-through;
    color: red;
}

.item-button {
    margin-left: 20px;
}