body {
    font-family: Arial, sans-serif;
}

#app {

    width: 500px;
    height: 400px;
    margin: 100px auto 0;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}


#cost, #tax-rate {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
}

