body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

#container {
    width: 300px;
    margin: 0 auto;
}

#roll-dice-button, #roll-dice-button2 {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

#result, #result2 {
    font-size: 40px;
}