body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: #343434;
    color: white;
    margin: 100px auto 0;
    border-radius: 14px;

}

label {
    width: 100%;
    display: block;
    margin-top: 20px;
}

input[type='number'], input[type='range'] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
}

#output {
    margin-top: 16px;
}