body    {
    background-color: #333444;
    color: white;
    font-family: Arial, sans-serif;
}

#app {
    width: 400px;
    margin: 0 auto;
}

h2 {
    margin-top: 50px;
}

#comment-input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.comment {
    border-top: 1px solid #ccc;
    padding: 10px;
}