body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 90px auto;
    background-color: #dedcdc;
}

#passwordDisplay {
    margin-top: 20px;
    font-size: 2em;
    word-wrap: break-word;
    color: blue;
}

#passwordGeneratorControls {
    margin-top: 20px;
}

#passwordGeneratorControls label, #passwordGeneratorControls input {
    margin-top: 10px;
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px;
}