body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
}

form {
    display: inline-block;
    margin-top: 200px;
}

label, input {
    margin: 10px 0;
}

input[type='submit'] {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}

