body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image-display {
    width: 40%;
    height: 80vh;
    background: url('images/carl_sagan.jpg') no-repeat center center/cover;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 0 60px rgba(255, 200, 0, 0.7), 0 0 60px rgba(255, 0, 0, 0.7), 0 0 60px rgba(254, 83, 167, 0.7);
}

#quote-display {
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 60px rgba(255, 200, 0, 0.7), 0 0 60px rgba(255, 0, 0, 0.7), 0 0 60px rgba(254, 83, 167, 0.7);
    background: linear-gradient(to bottom right, #ffc800 25%,#ff0000 50%, #fe58a7 75%);
}

#quote {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

button  {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #333444;
    color: white;
}