body {
    font-family: sans-serif;
    background-color: #f8f2f4;
}

nav {
    background-color: #dc6c04;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    left: 0;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px 5%;
}

.left-column {
    width: 25%;
    background-color: #a2f6b3;
    padding: 20px;
    border-radius: 20px;
}

.right-column {
    width: 65%;
    background-color: #f3f8b4;
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

