body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('completed_projects/american-flag.jpeg') no-repeat center center/cover;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#left-image-display, #right-image-display {
    width: 25%;
    height: 80vh;
    border-radius: 10px;
    margin: 20px;
}

#left-image-display {
    background: url("completed_projects/thomas-paine.jpeg") no-repeat center center/contain;
}

#right-image-display {
    background: url("completed_projects/thomas-paine2.jpeg") no-repeat center center/contain;
}

#quote-display {
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

#quote {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}