body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#generate-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 2px;
}

#username-display {
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 1.5px;
}