body    {
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 18px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.23);
}

h1 {
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #4638af;
    color: white;
}

#question, #feedback {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 20px;
}

input, button {
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

hr {
    width: 500px;
    margin: auto;
    /*    Optional: Centers the line on the page*/
    border: none;
    border-top: 2px solid red;
}