body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.74);
    border-radius: 19px;
    padding: 10px;
    gap: 24px;
    background-color: #334444;
    color: whitesmoke;
    height: 500px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    min-width: 263px;
    border-radius: 9px;
}

button:hover {
    background-color: #668888;
    color: whitesmoke;
}

textarea {
    width: 80%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
}