body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: red;
    gap: 100px;
}

img {
    width: 400px;
    height: 40vh;
    border-radius: 25px;
}

#column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h2 {
    border: 2px white solid;
    border-radius: 25px;
    background-color: red;
    color: white;
    width: fit-content;
    padding: 0 10px 0;
    font-size: 28px;
    font-weight: bold;
}

input   {
    margin-bottom: 10px;
    width: 250px;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid white;
}

button  {
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: red;
}

#add-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: red;
}

#add-button:hover {
    font-size: 20px;
    font-weight: bold;
}

.item-button {
    background-color: red;
    color: white;
    margin-left: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    min-width: 400px;
}

.bought {
    text-decoration: line-through;
    color: red;
}