body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    height: 100vh;
    background-color: #bbbbbb;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 40%;
    background-color: white;
    border: none;
    border-radius: 24px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.6);
    gap: 35px;
}

#generate-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 22px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.6);
}

.ribbon {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #ff9800;
    color: white;
}

#generate-button:hover {
    border: 3px solid black;
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 22px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.6);
}

#generate-button:active {
    background-color: blue;
    color: white;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.6);
    transform: translateY(10px);
}

#username-display {
    color: #2badd3;
    margin: 40px;
    padding: 8px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}