body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    padding: 10px;
    border-radius: 5px;
}

.movie-selection {
    display: flex;
    justify-content: space-between;
    width: 60vmin;
    margin-bottom: 20px;
}

.screen {
    width: 60vmin;
    height: 10vmin;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.screen-content {
    display: inline-block;
    position: relative;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    width: 60vmin;
    height: 60vmin;
}

.seat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.seat.selected {
    background-color: #f00;
}

select, button {
    padding: 10px;
    margin: 10px 0;
}

button  {
    width: 60vmin;
}
