body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.what-month {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

table {
    width: 254px;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.today {
    background-color: #ff0;
}

