body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 1000vh;
    font-family: Arial, sans-serif;
    margin: 60px;
}

#balance {
    font-size: 2em;
    color: blue;
}

form {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
}